// В этом файле должны быть стили для БЭМ-блока content-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.content-card {

  $block-name:                &; // #{$block-name}__element

  background: #fff;
  border: 1px solid $gray-light;
  border-radius: 5px;
  padding: 30px;
  max-width: 520px;
  margin-bottom: 30px;

  &__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 18px
  }

  &--lg {
    max-width: 615px;
  }

  &--xl {
    max-width: 850px;
  }

}
