// В этом файле должны быть стили для БЭМ-блока form-profile, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form-profile {

  $block-name:                &; // #{$block-name}__element

  .field-actions {
    padding-top: 15px;
    .btn {
      margin-bottom: 0;
    }
  }
  .field-row {
    @include row;
  }
  .field-col {
    @include col();
    @include col(lg, 6);
  }

}
