// В этом файле должны быть стили для БЭМ-блока field-link, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-link {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 20px;
  margin-top: 20px;

  &__item {

    display: flex;
    align-items: center;
    color: #000;

    .icon {
      margin-right: 10px;
    }
  }

}
