// В этом файле должны быть стили для БЭМ-блока user, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.user {

  $block-name:                &; // #{$block-name}__element

  margin-top: 35px;
  margin-bottom: 60px;
  padding: 0 30px;

  &__avatar {
    width: 105px;
    height: 105px;
    border: 4px solid $gray-light;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    background-size: cover;
    &--sm {
      width: 60px;
      height: 60px;
      border: none;
    }
  }
  &__name {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }


}
