// В этом файле должны быть стили для БЭМ-блока user, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.user {

  $block-name:                &; // #{$block-name}__element

  margin-top: 35px;
  margin-bottom: 60px;
  padding: 0 30px;

  &__avatar {
    width: 105px;
    height: 105px;
    overflow: hidden;
    border: 4px solid $gray-light;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    background-size: cover;
    position: relative;
    &--sm {
      width: 60px;
      height: 60px;
      border: none;
    }
    a {
      color: #fff;
      background: rgba(48, 48, 48, 0.7);
      align-items: center;
      justify-content: center;
      font-size: 10px;
      text-decoration: none;
      text-align: center;
      line-height: 1.4;
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: all $transition-time;
    }
    &:hover,
    &:focus {
      a {
        opacity: 1;
      }
    }
  }
  &__name {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }



}
