// В этом файле должны быть стили для БЭМ-блока menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

.menu {

  $block-name:                &; // #{$block-name}__element

  min-width: 10em;
  margin: 0;
  padding: 0.3em 0;
  list-style: none;

  &__item {

    &--separator {

      padding-bottom: 0.3em;
      margin-bottom: 0.3em;
      border-bottom: 1px solid $border-color;

    }

  }

  &__link {
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 12px 30px;
    color: $gray;
    text-decoration: none;

    .icon {
      margin-right: 10px;
      fill: #8f8f8f;
    }

    &:hover,
    &:focus {
      color: #000;
    }

    &--active {
      background: #3c758e;
      background: linear-gradient(to right, #3c758e 0%,#5288cb 100%);
      color: #fff;
      &:hover,
      &:focus {
        color: #fff;
      }
    }

  }

  &--bottom {
    margin-top: auto;
    margin-bottom: 20px;
  }
}
