// В этом файле должны быть стили для БЭМ-блока courses, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.courses {

  $block-name:                &; // #{$block-name}__element

  &__wrap {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
  }

  &__header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    .search {
      margin-top: 20px;
    }
  }

  &__nav {
    display: flex;
  }

  &__nav-item {
    color: $gray-light;
    text-decoration: none;
    padding: 20px;
    border-bottom: 2px solid $gray-light;

    &:hover,
    &:focus {
      color: #000;
    }

    &--active {
      color: $color-main;
      border-color: $color-main;
      &:hover,
      &:focus {
        color: $color-main;
      }
    }
  }

  &__counter {
    margin-bottom: 20px;
    @include make-col(12);
  }

  &__row {
    @include row;
  }

  &__card {
    @include col();
    @include col(md, 12);
    @include col(lg, 6);
    @include col(xl, 4);
    border-radius: 5px;
    margin-bottom: 30px;
  }

  &__card-link {
    text-decoration: none;
    &:hover,
    &:focus {
      #{$block-name}__card-name {
        color: inherit;
      }
    }
  }

  &__card-image {
    width: 100%;
    padding-bottom: 40%;
    background-size: cover;
    position: relative;
  }

  &__card-status {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(121, 121, 121, 0.9);
    color: #fff;
    font-size: 14px;
    padding: 0.7em 1.5em;

    &--danger {
      background: rgba(230, 60, 60, 0.9);
    }
    &--success {
      background: rgba(41, 159, 85, 0.9);
    }
    span+span {
      margin-left: 15px;
    }
  }

  &__card-name {
    border: 1px solid $gray-light;
    padding: 20px;
    line-height: 1.4;
    font-size: 18px;
    color: #000;
  }

}
