// В этом файле должны быть стили для БЭМ-блока tags, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.tags {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 30px;

  &__added,
  &__all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  &__added {
    margin-bottom: 20px;
  }
  &__all {
    #{$block-name}__item {
      cursor: pointer;
    }
  }

  &__item {
    background: #fff;
    padding: 5px 15px;
    border: 1px solid $gray-light;
    border-radius: 20px;
    font-size: 12px;
    position: relative;
    .close {
      position: absolute;
      top: -10px;
      right: -12px;
      background: #e65c5c;
      width: 24px;
      height: 24px;
      padding: 5px;
      border-radius: 50%;
      cursor: pointer;
      span {
        &:before,
        &:after {
          background: #fff;
          height: 2px;
        }
      }
    }
  }

}
