// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$font-family--headings:       -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif !default;

$font-size--h3:               1.5em !default;

$line-height:                 1.375em !default;

.form {

  $block-name:                &; // #{$block-name}__element

  &:not(:last-child) {
    margin-bottom: $line-height;
  }

  fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;

    &:not(:last-child) {
      margin-bottom: $line-height;
    }
  }

  legend {
    display: block;
    width: 100%;
    margin-top: $line-height;
    margin-bottom: ($line-height / 2);
    font-size: $font-size--h3;
    font-family: $font-family--headings;
    font-weight: 700;
    line-height: $line-height;
    color: currentColor;
  }

  &--login {
    min-width: 240px;

    .field-actions {
      margin-bottom: 0;
      .btn {
        width: 100%;
        margin: 0;
      }
    }
  }

  &--registration {
    .field-actions {
      text-align: left;
    }
    .field-radio {
      margin-bottom: 20px;
    }

    @media (min-width: $screen-md) {
      min-width: 560px;
    }
  }

  &--search {
    .field-text__input {
      border-color: $color-main;
      padding: 0.3em 0.7em;
    }
  }

}
